%blockquote
  %p.quotation= @text
  -if @options[:author] || @options[:title]
    %p.citation
      -if @options[:author]
        %span.author= @options[:author]
      -if @options[:title]
        %span.position= @options[:title]
