.timeline
  %table
    %tbody
      %tr
        %th{scope: :row}
          = @attributes[:date]
        %td.event
          %span.description= @attributes[:title]
          -if @attributes[:link]
            %a.read_more{href: @attributes[:link]} Read More
