<blockquote>
<p class='quotation'><%= @content %></p>
<% if @attributes[:author] || @attributes[:title] %>
<p class='citation'>
<% if @attributes[:author] %>
<span class='author'><%= @attributes[:author] %></span>
<% end %>
<% if @attributes[:title] %>
<span class='position'><%= @attributes[:title] %></span>
<% end %>
</p>
<% end %>
</blockquote>
